<%- include ("./partials/website/header.ejs") %>
<body>
<%- include ("./partials/website/navbar.ejs") %>

<div style="display:block;" class="container">
    <iframe scrolling="hidden" src="/discussao-index"></iframe>
</div>
</body>
<%- include ("./partials/website/footer.ejs") %>