<nav>
    <div class="navbar navbar-light bg-warning">
        <a class="navbar-brand" id="logo" href="/">FORUM </a>
        <a class="btn btn-dark" href="/discussao"> Iniciar Discussão </a>
    </div>
</nav>